{% extends "topics/base.html" %}
{% block content %}
<div style="float: right;">
  <input id="keyword_input_id"><input id="keyword_add_button_id" type="submit" value="Add">
</div>
<h1>{{ room.title }}</h1>
<div id="keyword_list_id">
</div>

<script>
 var TI = {
   keywords: [],
   
   keywordHtml: function( keyword ) {
     return '<div class="keywords">' + keyword + '</div>';
   },

   emptyRowHtml: function() {
     return '<div class="keyword-rows clearfix"></div>';
   },

   addKeywordToList: function( keyword ) {
     var lastRow = $("#keyword_list_id").find(".keyword-rows").last();
     if ( !lastRow.length ) {
       $("#keyword_list_id").append( TI.emptyRowHtml() );
       lastRow = $("#keyword_list_id").find(".keyword-rows").last();
     }
     lastRow.append( TI.keywordHtml( keyword ) );
   },
 
   updateKeywords: function( keys ) {
     keys.forEach(function( k, i ) {
       if ( TI.keywords.indexOf( k ) == -1 ) {
         TI.keywords.push( k );
         TI.addKeywordToList( k );
       }
     });
   },
 
   loadKeywords: function() {
     var url = "{% url 'topics-keywords' room.title %}";
     jQuery.get( url, function( data ) {
       TI.updateKeywords( data );
     });
   },

   submitKeyword: function() {
     var url = "{% url 'topics-add-keywords' room.title %}";
     var newKeyword = jQuery.trim( $("#keyword_input_id").val() );
     if( newKeyword == '' ) {
       return false;
     }
     var data = { 'keyword': newKeyword };
     jQuery.post( url, data, function( data ) {
       TI.loadKeywords();
       $("#keyword_input_id").val('');
     });
     return false;
   }
 };

 $(function(){
   TI.loadKeywords();

   setInterval( TI.loadKeywords, 5000 );

   $("#keyword_add_button_id").click( TI.submitKeyword );
 });
</script>
{% endblock %}
