body {
    padding: 0;
    margin: 0;
    background: #f7f7f7;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#content #header {
    background: white;
    border-bottom: 1px solid black;
    font-size: 150%;
    font-weight: bold;
    height: 30px;
    padding: 5px;
}

.keyword-rows {
    border-bottom: 1px solid #e0e0e0;
    background: #a0a0a0;
}

.keyword-rows.odd {
    background: #aeaeae;
}

.keyword-rows .keywords {
    background: white;
    float: left;
    height: 30px;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.menu-bar {
    background: #dddddd;
    padding: 5px;
    text-align: right;
}